@import "../../assets/css/colors.scss";

/* MODALS */
.hideModal {
  display: none;
}

.modalButton {
  width: 100% !important;
  padding: 0px !important;
}

.modalButton button {
  width: 100% !important;
  padding: 0px !important;
}

.select_modals {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  z-index: 201 !important;
  transition: 800ms ease;
}

.select_modals_overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(246, 245, 245, 0.206);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 202 !important;
  transition: 800ms ease;
  cursor: pointer;
}

.select_modals_cards {
  position: relative !important;
  background: $primary;
  color: #fff;
  width: 400px;
  margin-left: auto;
  height: 100% !important;
  display: block;
  /* border-radius: 30px; */
  box-shadow: 3px 6px 10px 0 rgb(0 102 245 / 7%);
  z-index: 401 !important;
  animation-name: slideInRight;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  /* padding-bottom: 40px; */
}

.higherModal {
  z-index: 4000001 !important;
}

.select_modals_cards.slideOUT {
  animation-name: slideOutLeft;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.select-modal-header {
  width: 100%;
  background: $primary;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.select-modal-header h5 {
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.select-modal-header i {
  font-size: 40px;
  cursor: pointer;
}

.select_modals_body {
  position: relative;
  height: 100% !important;
  width: 100% !important;
  display: block;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: 80px;
  padding: 40px 13px;
}

.select_modals_body::-webkit-scrollbar {
  width: 0px;
}

.select_modals_body label {
  color: #fff !important;
}

.select_modals_body select,
.select_modals_body select:focus,
.select_modals_body textarea,
.select_modals_body textarea:focus,
.select_modals_body input:focus,
.select_modals_body input {
  background: darken($color: $primary, $amount: 20%);
  color: #fff !important;
}

.select_modals_body .card,
.select_modals_body .card-body,
.select_modals_body .card-header {
  background: lighten($color: $primary, $amount: 10%);
  color: #fff !important;
}

.modalTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 60px;
}
.selectModalitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(221, 221, 221, 0.2),
      rgba(221, 221, 221, 0.2)
    ),
    #ffffff;
  border: 3.41431px solid #ffffff;
  box-shadow: 0px 4.55241px 10.2429px 1.1381px rgba(154, 154, 154, 0.25);
  border-radius: 14.7953px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.selectModalitemLeft {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.selectModalitem img {
  width: 40px;
}

.selectModalitem p {
  /* margin-left: -140px; */
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  text-align: left;
}

.selectModalitem .checkDiv {
  width: 25.04px;
  height: 25.04px;
  border: 1.1381px solid #000000;
  border-radius: 5.69052px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectModalitem .checkDiv.selectedItem {
  background: #000;
}

.selectModalitem .checkDiv i {
  color: #ffffff;
  font-size: 13px;
}

.fixed-right-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 201;
  transition: 800ms ease;
}

.fixed-right-modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.842);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 202;
  transition: 800ms ease;
  cursor: pointer;
}

.fixed-right-modal-card {
  position: relative;
  background: rgb(255, 255, 255);
  width: 490px;
  margin-left: auto;
  height: 100%;
  display: block;
  /* border-radius: 30px; */
  box-shadow: 3px 6px 10px 0 rgb(0 102 245 / 7%);
  z-index: 401;
  padding-bottom: 40px;
}

.fixed-right-modal-header-style-1 {
  width: 100%;
  background: var(--mainYellowColor);
  color: #fff;
  box-sizing: border-box;
  /* margin-top: -15px; */
  padding: 20px 25px;
  text-align: center;
  /* border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; */
}

.agrovest-all-modals .fixed-right-modal-header-style-1 {
  padding: 20px 25px 190px;
  text-align: center;
  z-index: 3;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(
    to bottom,
    rgba(1, 75, 22, 0.911) 20%,
    rgba(4, 31, 1, 0.918) 60%
  );
}

.fixed-right-modal-header-style-1-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed-right-modal-header-style-1-flex img {
  width: 38px;
  height: 38px;
  border-radius: 100%;
}

.fixed-right-modal-header-style-1-flex i {
  color: #fff;
  font-size: 27px;
  cursor: pointer;
}

.fixed-right-modal-header-style-1-flex span {
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-size: 16px;
}

.fixed-right-modal-header-style-1 h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
}

.fixed-right-modal .fixed-right-modal-header-style-1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  width: 300px;
  margin: 20px auto 0px;
  color: #cccccc;
}

.fixed-right-modal-body {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: 110px;
}

body.dark-mode .fixed-right-modal-body {
  color: #fff;
  background: var(--mainBodyDarkMode);
}

.agrovest-all-modals .fixed-right-modal-body {
  background: #fff;
  /* margin-top: -50px; */
  width: 100%;
  margin: -140px auto 0px;
  z-index: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: -1px 3px 15px 0 rgb(0 0 0 / 6%);
  padding: 0px 30px 210px;
}

body.dark-mode .agrovest-all-modals .fixed-right-modal-body {
  color: #fff;
  background: var(--mainCardDarkMode);
}

.fixed-right-modal-content {
  position: relative;
}

.fixed-right-modal-body::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.fixed-right-modal-body ::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 30px;
}

/* Handle */
.fixed-right-modal-body ::-webkit-scrollbar-thumb {
  background: var(--mainYellowColor);
  border-radius: 30px;
}

.fixed-right-modal-body ::-webkit-scrollbar-button {
  width: 5px;
  height: 0px;
}

/* Alert Modal */
.alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(58, 56, 56, 0.507); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9900;
  transition: 800ms ease;
}

.alert-modal.alertPOP {
  z-index: 9990;
}

.alert-modal.alertPOP.overAll {
  z-index: 9995;
}

.alert-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 49, 0.918);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9910;
  transition: 800ms ease;
  cursor: pointer;
}

.alert-modal.alertPOP .alert-modal-overlay {
  z-index: 9991;
}

.alert-modal.alertPOP.overAll .alert-modal-overlay {
  z-index: 9996;
}

.alert-modal-card {
  position: relative;
  background: rgb(255, 255, 255);
  width: 390px;
  height: auto;
  padding: 17px 19px;
  display: block;
  /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
  border-radius: 10px;
  box-shadow: 3px 6px 10px 0 rgb(0 102 245 / 7%);
  z-index: 9940;
}

body.dark-mode .alert-modal-card {
  color: #fff;
  background: var(--mainBodyDarkMode);
}

.alertPOP .alert-modal-card {
  width: 720px;
  height: auto;
  z-index: 9994;
}

.alert-modal.overAll .alert-modal-card {
  width: 400px;
}

.alert-modal.overAll .alert-modal-card .alert-modal-body h4 {
  font-size: 1.5rem;
}

.alert-modal.overAll .alert-modal-body p {
  font-size: 1.2rem;
}

#loginModal.alertPOP .alert-modal-card {
  width: 520px;
}

.alertPOP.overAll .alert-modal-card {
  z-index: 9997;
}

.alert-modal-card .close-alert-button {
  text-align: right;
}

.alert-modal-card .close-alert-button i {
  color: #1e1d1d;
  font-size: 27px;
  cursor: pointer;
  padding: 2px;
}

body.dark-mode .alert-modal-card .close-alert-button i,
body.dark-mode .alert-modal-card .close-alert-button h4 {
  color: #fff;
}
body.dark-mode .alert-modal-card .close-alert-button {
  border: none;
}

.alert-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.dark-mode .alert-modal-body {
  color: #fff;
  background: var(--mainBodyDarkMode);
}

.large_modal .alert-modal-card {
  width: 620px;
  padding-bottom: 0px;
}

.large_modal .alert-modal-body {
  // height: 590px;
  // overflow-y: scroll;
  // overflow-x: hidden;
  padding-bottom: 30px;
}

.large_modal.small_modal .alert-modal-body {
  height: 420px;
}
.large_modal .alert-modal-body::-webkit-scrollbar {
  width: 0px;
}

.large_modal .alert-modal-body {
  display: block;
  /* flex-direction: column;
      justify-content: center;
      align-items: center; */
}
.large_modal.center_modal .alert-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert-modal-body .alert-modal-icon {
  background: rgb(5, 233, 5);
  color: #fff;
  width: 60.22px;
  height: 60px;
  line-height: normal;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 30px;
}

.alertPOP .alert-modal-body .alert-modal-icon {
  width: 75px;
  height: 75px;
  line-height: normal;
}

.alertPOP .alert-modal-body .alert-modal-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.alert-modal-body .alert-modal-icon.error {
  background: #d70000;
}

.alert-modal-body .alert-modal-icon i {
  font-size: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.alertPOP .alert-modal-body .alert-modal-icon i {
  font-size: 40px;
}

.alert-modal .alert-modal-body h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.382609px;
  color: #111;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
}

.alert-modal .alert-modal-body p.p_para {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.382609px;
  color: #111;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
}
/* 
  .alert-modal .alert-modal-body h4.success {
    color: rgb(30, 179, 0);
  } */

.alert-modal .alert-modal-body h4.error {
  color: rgb(170, 16, 5);
}

.alert-modal .alert-modal-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.382609px;
  color: #5f5f5f;
  width: 79%;
  margin: 4px auto 15px;
}

.alert-modal .alert-modal-body .alert-modal-button {
  margin-top: 15px;
  margin-bottom: 20px;
}

.alert-modal .alert-modal-body .alert-modal-button button {
  padding: 10px 80px;
  font-weight: bold;
  font-size: 15px;
}

.alert-modal .alert-modal-body .alert-modal-button button.green-button {
  padding: 10px 100px;
  font-size: 15px;
  font-weight: bold;
}

.alert-modal .alert-modal-body .alert-modal-button button:hover {
  transform: scale(1.1);
}

button.white-button {
  background: #fff;
  color: #1e1d1d;
  border: 1px solid var(--mainYellowColor);
  margin-right: 16px;
}

@media screen and (max-width: 600px) {
  .select_modals_cards {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 100%;
    height: 100vh !important;
    overflow: hidden;
    padding-bottom: 10px !important;
  }

  .modalTitle {
    font-size: 23px;
    line-height: 43px;
  }

  .fixed-right-modal-card {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 100px;
  }

  .fixed-right-modal-header-style-1 {
    padding: 20px 15px 75px;
  }

  .agrovest-all-modals .fixed-right-modal-header-style-1 {
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .fixed-right-modal-body {
    margin-top: -50px;
  }
  .fixed_modal_button .fixed-right-modal-card {
    overflow-y: scroll;
    padding-bottom: 0px;
  }

  .fixed_modal_button .fixed-right-modal-body {
    /* height: 100%; */
    overflow-y: unset;
    overflow-x: hidden;
    padding-bottom: 0px;
  }
  .fixed-right-modal-header {
    width: 100%;
  }

  .agrovest-all-modals .fixed-right-modal-body {
    width: 100%;
    margin: -150px auto 0px;
    padding: 0px 20px 190px;
  }

  .fixed-right-modal.fixed_modal_button .fixed-right-modal-card {
    padding-bottom: 0px;
  }

  .alert-modal-card {
    width: 90%;
  }

  .large_modal .alert-modal-card {
    width: 100% !important;
    height: 100%;
    padding-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 50px;
  }

  .large_modal.small_modal .alert-modal-card {
    height: 100%;
  }

  .large_modal .alert-modal-body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
  }

  .large_modal.small_modal .alert-modal-body,
  .large_modal.center_modal .alert-modal-body {
    justify-content: center;
  }

  .large_modal .alert-modal-body .image_icon img {
    height: 40px;
    width: 40px;
  }

  .alert-modal-overlay {
    background: rgba(61, 61, 63, 0.945);
  }

  .alertPOP .alert-modal-card {
    width: 95% !important;
    height: auto;
  }

  .large_modal .alert-modal-card {
    width: 100% !important;
  }

  .alert-modal-card .close-alert-button {
    margin-left: -10px;
    // border-bottom: 1px solid #cfcfcf;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .alert-modal-card .close-alert-button i {
    font-size: 25px;
    margin: 0px;
  }

  .alert-modal-card .close-alert-button span {
    padding-left: 12px;
  }

  .alert-modal-card .close-alert-button h4 {
    margin-left: 10px;
  }

  body.dark-mode .alert-modal-card .close-alert-button span {
    color: #fff;
  }

  .alert-modal-body .alert-modal-icon {
    width: 50.22px;
    height: 50px;
    line-height: 50px;
  }

  .alert-modal-body .alert-modal-icon i {
    font-size: 45px;
  }
  .alert-modal .close-alert-button i {
    font-size: 39px;
  }

  .alert-modal .alert-modal-body h4 {
    font-size: 25px;
  }

  .alert-modal .alert-modal-body p {
    font-size: 18px;
    width: 89%;
    margin: 4px auto 15px;
  }
}
